body{
    background-color: azure;
    font-family: let;
    font-weight: bold;
    color: black;
    text-align: center;
}
header{
    background-color: rgb(135, 250, 196);
    height: 100px;
    width: 100%;
    text-align: center;
    border: 3px solid gray;
    font-family: poke;
    line-height: 100px;
}
@font-face {
    font-family: poke;
    src: url(unown.ttf);
}
@font-face {
    font-family: let;
    src: url(Pokemon\ Classic.ttf);
}
nav{
    float: left;
    background-color: antiquewhite;
    border: solid;
    width: 20%;
    min-height:686px;
    border: 20px solid gray;
    display: flex;
}
.pokedex{
    float: left;
    background-color: gray;
    width: 79.6%;
    min-height: 500px;
    border: gray solid;
}
aside{
    float: right;
    width: 17.34%;
    min-height: 500px;
    background: gray;
    text-align:center;
    border: 20px solid gray;
}
.clear{
    clear: both;
}
footer{
    background-color: darkgray;
    text-align: center;
    border: 20px solid;
}
.vaporeon{
    background-color: rgb(135, 250, 196);
    text-align: center;
}
.pikachu{
    background-color: rgb(135, 250, 196);
    text-align: center;
}
.charmander{
    background-color: rgb(135, 250, 196);
    text-align: center;
}
.cubone{
    background-color: rgb(135, 250, 196);
    text-align:center;
}
#imagen{
    text-align: center;
}